<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница | СИАРСП</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/javascript.js"></script>
    <link rel="icon" type="image/png" href="/images/icon-site.png">
    <link rel="apple-touch-icon" href="/images/icon-mobile.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<main>
    <section class="home-hero">
        <div class="hero-content container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h3 class="mb-3">Автоматизированная информационная система</h3>
                    <h3 class="mb-4">для предприятия малого бизнеса</h3>
                    <h5 class="lead">Студент: Левчук Е.А.</h5>
                    <h5 class="lead mb-4">Филиал "Восход" МАИ</h5>
                    <a href="/employee/login" class="btn btn-light btn-lg px-5 rounded-pill fw-semibold">
                        Войти в систему
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:insert="~{blocks/footer :: footer}"></div>
</body>
</html>